:root {
  --ligth-gray-1: #FAFAFA;
  --ligth-gray-2: #FFF;
  --primary-color: #23A6F0;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

body {
  background-color: var(--ligth-gray-1);
}

h1 {
  font-size: 3.625rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}



.button {
  width: 204px;
  height: 62px;
  border-radius: 5px;
  padding: 15px, 40px, 15px, 40px;
  background-color: var(--primary-color);

  font-weight: 700;
  font-size: 1.5rem;
  color: var(--ligth-gray-1);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Topbar */
.container-topbar {
  background-color: var(--ligth-gray-2);
  margin: 0 60px;
}

#top-bar {
  height: 90px;
  display: flex;
  padding: 0 120px;
  justify-content: space-between;
  align-items: center;
}

#top-bar nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 10px;
}
nav ul li {
  margin-right: 10px;
}


.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 640px;
  background-image: url('assets/images/product-slide.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--ligth-gray-1);
}

.carousel-content {
  padding: 40px 20.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

#slogan {
  font-size: 1.25rem;
  font-weight: 400;
}



