#product-cards-5 {
  display: flex;
  justify-content: center;
  background-color: var(--ligth-gray-1);
  padding: 48px 0;
}

.conatiner-flex {
  max-width: 1140px;
}

.conatiner-flex > hr {
  margin: 34px 0;
}

.flex-card {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 24px 38px 48px;
}

.card-product-bestseller {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}