#product-cards-1, #product-cards-3 {
  display: flex;
  justify-content: center;
}

.grid-container {
  margin: 48px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 48px;
}

.said-img {
  position: relative;
}

.furniture {
  position: absolute;
  top: 24px;
  left: 48px;
}

.furniture > p {
  margin-top: 5px;
  font-size: 0.875rem;
  color: var(--secound-text-color);
  font-weight: 700;
}

.topbar-bestseller {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 24px;
}

.topbar-bestseller span {
  color: var(--secound-text-color);
  font-weight: 700;
}

.grid-product-besteseller {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
  column-gap: 15px;
}


.title-product-bestseller {
  color: var(--text-color);
  margin: 25px auto 10px auto;
}

.subtitle-product-bestseller {
  color: var(--secound-text-color);
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto;
}

.inverted-bestseller {
  grid-template-columns: 2fr 1fr;
}

.inverted-bestseller .said-img {
  order: 2;
}
